# List, Tuple, Dictionary, Set Operations

## Run The Following Code
Hit SHIFT + ENTER when your cusor is inside the cell of code.<br/>

> Create a variable to hold the values "apple", "banana", "chiku", "durian". Assign them to the variable <b>store</b> using a list.

In [ ]:
store = ["apple", "banana", "chiku", "durian"]
print(store)

In [ ]:
type(store)

In [ ]:
#print out banana
store[1]

> Use a tuple instead.

In [ ]:
store_tuple = ("apple", "banana", "chiku", "durian")
print(store_tuple)

In [ ]:
type(store_tuple)

In [ ]:
#print out banana
store_tuple[1]

> Using tuples to swap values in a variable

In [ ]:
x = input("Key in a name: ")

In [ ]:
y = input("Key in another name: ")

In [ ]:
print(x)
print(y)

In [ ]:
#Using another variable, swap the values of x with y.
<..>

In [ ]:
print(x)
print(y)

In [ ]:
#Without using another variable, swap the values of x with y.
<..>

In [ ]:
print(x)
print(y)

> Use a dictionary instead.

In [ ]:
store_dict = {"fruit1":"apple", "fruit2":"banana", "fruit3":"chiku", "fruit4":"durian"}
print(store_dict)

In [ ]:
type(store_dict)

In [ ]:
store_dict.keys()

In [ ]:
store_dict.values()

In [ ]:
#print out banana
store_dict['fruit2']

> Use a set instead.

In [ ]:
store_set = {"apple", "banana", "chiku", "durian"}
print(store_set)

In [ ]:
type(store_set)

# !! Your Turn !!

## Replace the code marked as <..> COMPLETELY with your own.
For example:
length = <..> will be replaced by length = 10

# Question 1
1) Store [2,4,6,8,10] into a variable data<br/>
2) Print out the 1st element in this list.

In [ ]:
data = <..>
print(<..>) #You should see the output 2

# Question 2

1) Store [1,3,5,7,9] into a variable data2<br/>
2) Print out the 3rd element in this list.

In [ ]:
data2 = <..>
print(<..>) #You should see the output 5

# Question 3
1) Concatenate the two lists <b>data</b> and <b>data2</b> together into a variable, <b>data3</b>.<br/>
2) Print them out.<br/>

In [ ]:
<..> = <..> + <..>
print(<..>)

3) If they are not in the correct running sequence, sort them.<br/>
4) Print it out

In [ ]:
<..>.<..>
print(<..>)

# Question 4

Let's try out mathematical operators on the lists and see if they work. <br/>
1) Multiply the list, <b>data3</b>, by 2. What do you see?<br/>

In [ ]:
print(<..> * 2)

<i>Tips: Try out the other mathematical operators in the boxes below. Some may not work and may produce errors</i>

In [ ]:
#use +
print(<..> + <..>)

In [ ]:
#use -
print(<..> - <..>)

In [ ]:
#use /
print(<..> / <..>)

<i>This shows that you cannot apply mathematical operators to a list the way you would to numeric data types.</i>

# Question 5
1) Create a variable, <b>storage</b>, that stores the following:<br/><br/>
table<br/>
chair<br/>
fridge<br/>
washing machine<br/><br/>
2) print out the variable storage and verify the contents.
Hint: You should see ['table', 'chair', 'fridge', 'washing machine']

In [ ]:
storage = <..>
print(<..>)

# Question 6
1) You can add "aircon" into storage by doing <b>storage.append("aircon")</b>.<br/>
2) Do that, and print out the new storage variable to verify that "aircon" has been added.<br/>
Hint: You should see ['table', 'chair', 'fridge', 'washing machine', 'aircon']

In [ ]:
storage = <..>
storage.append(<..>)
print(<..>)

# Question 7
1) You can remove "chair" from storage by doing <b>storage.remove("chair")</b>.<br/>
2) Do that, and print out the new storage variable to verify that "chair" has been removed.<br/>
Hint: You should see ['table', 'fridge', 'washing machine', 'aircon']

In [ ]:
storage.<..>(<..>)
print(<..>)

# Question 8
1) <b>|value| in storage</b> allows you to check whether an item is inside the list.<br/>
2) For example, <b>"table" in storage</b> will return true.<br/>
3) Write the code to check if the item "fridge" is inside storage.<br/>

In [ ]:
storage = <..>
print(<..> in <..>)

# Question 9
1) Create a dictionary, <b>postal_to_town</b> that stores the following key-value pairs.<br/>
760702 --> Yishun
530406 --> Hougang
600212 --> Jurong East

In [ ]:
postal_to_town = {
    <..>: <..>,
    <..>: <..>,
    <..>: <..>
}

2) Print out the town by referencing postal '760702'<br/>
You should see Yishun

In [ ]:
<..>

3) Print out the town by referencing postal '530406'<br/>
You should see Hougang

In [ ]:
<..>

4) Print out the town by referencing postal '600212'<br/>
You should see Jurong East

In [ ]:
<..>

4) Print out the town by referencing postal '138577'<br/>
What do you see?

In [ ]:
<..>

# Question 10*

1) Decide on a data type to use for the following use case: <br/>
- I want to read in values and store them as I read them in sequentially.<br/>
- Order matters.<br/>
- Repeated values are ok.<br/>
- I want to be able to remove some of the items too.<br/>

2) When you have decided, create such a variable called <b>zoo2</b> and store the following values into it:<br/>
- lion<br/>
- tiger<br/>
- giraffe<br/>
- hippo<br/>
- monkey<br/>

3) Write code into the cell below such that you will prompt the user to tell you an animal, then store it into the existing data in the variable <b>zoo2</b>.<br/>
4) Then, run the cell below 3 times, and input the following values:<br/>
- bird<br/>
- panda<br/>
- monkey<br/>

5) Print out the variable <b>zoo2</b>. It should contain the following in order:<br/>
- lion<br/>
- tiger<br>
- giraffe<br>
- hippo<br>
- monkey<br>
- bird<br>
- panda<br>
- monkey<br>

6) Write code into the cell below such that you will prompt the user to tell you an animal, then remove it from the existing data in the variable <b>zoo2</b>.<br/>
7) Then, run the cell below 3 times, and input the following values:<br/>
- tiger<br/>
- monkey<br/>
- giraffe<br/>

8) Print out the variable <b>zoo2</b>. It should contain the following in order:<br/>
- lion<br/>
- hippo<br>
- bird<br>
- panda<br>
- monkey<br>

# Question 11 *

1) Decide on a data type to use for the following use case: <br/>
- I want to read in a pair of key and values and store them.<br/>
- Order does not matter.<br/>
- Repeated values are ok.<br/>
- I want to be able to change some of the values for the keys too.<br/>

2) When you have decided, create such a variable called <b>zoo3</b> and store the following key - values into it:<br/>
- lion - c<br/>
- tiger - h<br/>
- giraffe - h<br/>
- hippo - h<br/>
- monkey - o<br/><br/>
<i>Note: key is lion, value is c</i>

3) Write code into the cell below such that you will prompt the user to tell you an animal.<br/>
4) Then, run the cell below 1 time, and input the following values:<br/>
- bird<br/>

5) Write code into the cell below such that you will prompt the user to tell you whether the animal is a carnivore, herbivore or omnivore.<br/>
The user simply keys in c, h or o.<br/>
6) Then, run the cell below 1 time, and input the following values:<br/>
- o<br/>

7) Add the new animal and its dietary preference into <b>zoo3</b>.<br/>
Print out <b>zoo3</b>.

8) You realised you made a mistake with the dietary preference for the tiger earlier on. Write the code to change it from an 'h' to a 'c'.<br/>
Print out <b>zoo3</b>.